body {
    background-image: url('https://i.picsum.photos/id/102/4320/3240.jpg?hmac=ico2KysoswVG8E8r550V_afIWN963F6ygTVrqHeHeRc');
    background-size: 100%;
    background-attachment: fixed;
}

img {
    width: 750px;
    border-radius: 25px;
}

.ProfileThumbnailPic {
    width: 375px;
    border-radius: 5px;
}

.Header {
    border-bottom-style: solid;
}
