body {
    background-image: url('https://images.unsplash.com/photo-1492895036205-f803195fba76?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTB8MTM3NjI3fHxlbnwwfHx8&ixlib=rb-1.2.1&w=1000&q=80');
    background-size: 100%;
    background-attachment: fixed;
}

img {
    width: 550px;
    border-radius: 25px;
}

.ProfileThumbnailPic {
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

.Header {
    border-bottom-style: solid;
}

.CommentsSpace {
    border-top-style: inset;
    border-radius: 20px;
}
